.adobe_caslon_pro_bold { font-family: "Adobe Caslon Pro Bold"; }
.adobe_caslon_pro { font-family: "Adobe Caslon Pro"; }
.adobe_devanagari { font-family: "Adobe Devanagari"; }
.adobe_garamond_pro_bold { font-family: "Adobe Garamond Pro Bold"; }
.adobe_garamond_pro { font-family: "Adobe Garamond Pro"; }
.agathodaimon { font-family: "Agathodaimon"; }
.agency_fb { font-family: "Agency FB"; }
.algerian { font-family: "Algerian"; }
.amaranth { font-family: "Amaranth"; }
.arial { font-family: "Arial"; }
.arial_black { font-family: "Arial Black"; }
.arial_narrow { font-family: "Arial Narrow"; }
.arial_rounded_mt_bold { font-family: "Arial Rounded MT Bold"; }
.asul { font-family: "Asul"; }
.attika { font-family: "Attika"; }
.attika_black { font-family: "Attika Black"; }
.attika_extra_bold { font-family: "Attika Extra Bold"; }
.attika_medium { font-family: "Attika Medium"; }
.attika_semibold { font-family: "Attika SemiBold"; }
.bahnschrift { font-family: "Bahnschrift"; }
.bahnschrift_condensed { font-family: "Bahnschrift Condensed"; }
.bahnschrift_light_condensed { font-family: "Bahnschrift Light Condensed"; }
.bahnschrift_light_semicondensed { font-family: "Bahnschrift Light SemiCondensed"; }
.bahnschrift_light { font-family: "Bahnschrift Light"; }
.bahnschrift_semibold_condensed { font-family: "Bahnschrift SemiBold Condensed"; }
.bahnschrift_semibold_semiconden { font-family: "Bahnschrift SemiBold SemiConden"; }
.bahnschrift_semibold { font-family: "Bahnschrift SemiBold"; }
.bahnschrift_semicondensed { font-family: "Bahnschrift SemiCondensed"; }
.bahnschrift_semilight_condensed { font-family: "Bahnschrift SemiLight Condensed"; }
.bahnschrift_semilight_semiconde { font-family: "Bahnschrift SemiLight SemiConde"; }
.bahnschrift_semilight { font-family: "Bahnschrift SemiLight"; }
.bailey { font-family: "Bailey"; }
.banthern_personal_use { font-family: "Banthern Personal Use"; }
.basics_serif_free { font-family: "Basics Serif Free"; }
.baskerville_old_face { font-family: "Baskerville Old Face"; }
.battnise { font-family: "Battnise"; }
.bauhaus_93 { font-family: "Bauhaus 93"; }
.behind_blue_eyes { font-family: "Behind Blue Eyes"; }
.bell_mt { font-family: "Bell MT"; }
.bente_lite { font-family: "Bente Lite"; }
.berlin_sans_fb_demi { font-family: "Berlin Sans FB Demi"; }
.berlin_sans_fb { font-family: "Berlin Sans FB"; }
.bernard_mt_condensed { font-family: "Bernard MT Condensed"; }
.better_land { font-family: "Better Land"; }
.blackadder_itc { font-family: "Blackadder ITC"; }
.bodoni_mt_black { font-family: "Bodoni MT Black"; }
.bodoni_mt_condensed { font-family: "Bodoni MT Condensed"; }
.bodoni_mt_poster_compressed { font-family: "Bodoni MT Poster Compressed"; }
.bodoni_mt { font-family: "Bodoni MT"; }
.book_antiqua { font-family: "Book Antiqua"; }
.bookinsanity { font-family: "Bookinsanity"; }
.bookman_old_style { font-family: "Bookman Old Style"; }
.bookshelf_symbol_7 { font-family: "Bookshelf Symbol 7"; }
.bradley_hand_itc { font-family: "Bradley Hand ITC"; }
.britannic_bold { font-family: "Britannic Bold"; }
.broadway { font-family: "Broadway"; }
.brush_script_mt { font-family: "Brush Script MT"; }
.calibri { font-family: "Calibri"; }
.calibri_light { font-family: "Calibri Light"; }
.californian_fb { font-family: "Californian FB"; }
.calisto_mt { font-family: "Calisto MT"; }
.cambria { font-family: "Cambria"; }
.cambria_math { font-family: "Cambria Math"; }
.candara { font-family: "Candara"; }
.candara_light { font-family: "Candara Light"; }
.cascadia_code_pl { font-family: "Cascadia Code PL"; }
.cascadia_code { font-family: "Cascadia Code"; }
.cascadia_mono_pl { font-family: "Cascadia Mono PL"; }
.cascadia_mono { font-family: "Cascadia Mono"; }
.castellar { font-family: "Castellar"; }
.centaur { font-family: "Centaur"; }
.century { font-family: "Century"; }
.century_gothic { font-family: "Century Gothic"; }
.century_schoolbook { font-family: "Century Schoolbook"; }
.chiller { font-family: "Chiller"; }
.colonna_mt { font-family: "Colonna MT"; }
.comic_sans_ms { font-family: "Comic Sans MS"; }
.consolas { font-family: "Consolas"; }
.constantia { font-family: "Constantia"; }
.cooper_black { font-family: "Cooper Black"; }
.copperplate_gothic_bold { font-family: "Copperplate Gothic Bold"; }
.copperplate_gothic_light { font-family: "Copperplate Gothic Light"; }
.corbel { font-family: "Corbel"; }
.corbel_light { font-family: "Corbel Light"; }
.courier_new { font-family: "Courier New"; }
.courier_prime { font-family: "Courier Prime"; }
.curlz_mt { font-family: "Curlz MT"; }
.depression_mansion { font-family: "Depression Mansion"; }
.dmfontmissing_letters { font-family: "Dmfontmissing Letters"; }
.dnd_infernal { font-family: "DnD Infernal"; }
.dovahkiin { font-family: "Dovahkiin"; }
.draconic { font-family: "Draconic"; }
.dragon_alphabet { font-family: "dragon_alphabet"; }
.dragonic { font-family: "Dragonic"; }
.dragonscript { font-family: "Dragonscript"; }
.dubai { font-family: "Dubai"; }
.dubai_light { font-family: "Dubai Light"; }
.dubai_medium { font-family: "Dubai Medium"; }
.dwarfspirits_bb { font-family: "DwarfSpirits BB"; }
.ebrima { font-family: "Ebrima"; }
.edwardian_script_itc { font-family: "Edwardian Script ITC"; }
.elephant { font-family: "Elephant"; }
.engravers_mt { font-family: "Engravers MT"; }
.eras_bold_itc { font-family: "Eras Bold ITC"; }
.eras_demi_itc { font-family: "Eras Demi ITC"; }
.eras_light_itc { font-family: "Eras Light ITC"; }
.eras_medium_itc { font-family: "Eras Medium ITC"; }
.felix_titling { font-family: "Felix Titling"; }
.font_awesome_5_brands_regular { font-family: "Font Awesome 5 Brands Regular"; }
.font_awesome_5_free_regular { font-family: "Font Awesome 5 Free Regular"; }
.font_awesome_5_free_solid { font-family: "Font Awesome 5 Free Solid"; }
.footlight_mt_light { font-family: "Footlight MT Light"; }
.forte { font-family: "Forte"; }
.franklin_gothic_book { font-family: "Franklin Gothic Book"; }
.franklin_gothic_demi_cond { font-family: "Franklin Gothic Demi Cond"; }
.franklin_gothic_demi { font-family: "Franklin Gothic Demi"; }
.franklin_gothic_heavy { font-family: "Franklin Gothic Heavy"; }
.franklin_gothic_medium_cond { font-family: "Franklin Gothic Medium Cond"; }
.franklin_gothic_medium { font-family: "Franklin Gothic Medium"; }
.freestyle_script { font-family: "Freestyle Script"; }
.french_script_mt { font-family: "French Script MT"; }
.gabriola { font-family: "Gabriola"; }
.gadugi { font-family: "Gadugi"; }
.garamond { font-family: "Garamond"; }
.georgia { font-family: "Georgia"; }
.gigi { font-family: "Gigi"; }
.gill_sans_mt_condensed { font-family: "Gill Sans MT Condensed"; }
.gill_sans_mt_ext_condensed_bold { font-family: "Gill Sans MT Ext Condensed Bold"; }
.gill_sans_mt { font-family: "Gill Sans MT"; }
.gill_sans_ultra_bold_condensed { font-family: "Gill Sans Ultra Bold Condensed"; }
.gill_sans_ultra_bold { font-family: "Gill Sans Ultra Bold"; }
.gliscor_gothic { font-family: "Gliscor Gothic"; }
.gloucester_mt_extra_condensed { font-family: "Gloucester MT Extra Condensed"; }
.goudy_old_style { font-family: "Goudy Old Style"; }
.goudy_stout { font-family: "Goudy Stout"; }
.great_vibes { font-family: "Great Vibes"; }
.haettenschweiler { font-family: "Haettenschweiler"; }
.handayani { font-family: "handayani"; }
.happy_phantom { font-family: "Happy Phantom"; }
.hargael { font-family: "Hargael"; }
.harlow_solid_italic { font-family: "Harlow Solid Italic"; }
.harrington { font-family: "Harrington"; }
.hello_sweety { font-family: "Hello Sweety"; }
.hibrush_demo { font-family: "Hibrush_DEMO"; }
.high_tower_text { font-family: "High Tower Text"; }
.hololens_mdl2_assets { font-family: "HoloLens MDL2 Assets"; }
.homeworld { font-family: "Homeworld"; }
.homeworld_shadow { font-family: "Homeworld Shadow"; }
.hp_simplified_light { font-family: "HP Simplified Light"; }
.hp_simplified { font-family: "HP Simplified"; }
.hpphumblescratch { font-family: "HPPHumblescratch"; }
.impact { font-family: "Impact"; }
.imprint_mt_shadow { font-family: "Imprint MT Shadow"; }
.informal_roman { font-family: "Informal Roman"; }
.ink_free { font-family: "Ink Free"; }
.inspired { font-family: "Inspired"; }
.javanese_text { font-family: "Javanese Text"; }
.jokerman { font-family: "Jokerman"; }
.juice_itc { font-family: "Juice ITC"; }
.kage-freebies_black { font-family: "KAGE-Freebies Black"; }
.kallem { font-family: "Kallem"; }
.knucklehead { font-family: "Knucklehead"; }
.kristen_itc { font-family: "Kristen ITC"; }
.kristi { font-family: "Kristi"; }
.kunstler_script { font-family: "Kunstler Script"; }
.lato { font-family: "Lato"; }
.lato_light { font-family: "Lato Light"; }
.lato_semibold { font-family: "Lato Semibold"; }
.leelawadee { font-family: "Leelawadee"; }
.leelawadee_ui_semilight { font-family: "Leelawadee UI Semilight"; }
.leelawadee_ui { font-family: "Leelawadee UI"; }
.lucida_blackletter { font-family: "Lucida Blackletter"; }
.lucida_bright { font-family: "Lucida Bright"; }
.lucida_calligraphy { font-family: "Lucida Calligraphy"; }
.lucida_console { font-family: "Lucida Console"; }
.lucida_fax { font-family: "Lucida Fax"; }
.lucida_handwriting { font-family: "Lucida Handwriting"; }
.lucida_sans_typewriter { font-family: "Lucida Sans Typewriter"; }
.lucida_sans_unicode { font-family: "Lucida Sans Unicode"; }
.lucida_sans { font-family: "Lucida Sans"; }
.magneto { font-family: "Magneto"; }
.maiandra_gd { font-family: "Maiandra GD"; }
.malgun_gothic_semilight { font-family: "Malgun Gothic Semilight"; }
.malgun_gothic { font-family: "Malgun Gothic"; }
.marlett { font-family: "Marlett"; }
.matura_mt_script_capitals { font-family: "Matura MT Script Capitals"; }
.meillyne { font-family: "Meillyne"; }
.microsoft_himalaya { font-family: "Microsoft Himalaya"; }
.microsoft_jhenghei_light { font-family: "Microsoft JhengHei Light"; }
.microsoft_jhenghei_ui_light { font-family: "Microsoft JhengHei UI Light"; }
.microsoft_jhenghei_ui { font-family: "Microsoft JhengHei UI"; }
.microsoft_jhenghei { font-family: "Microsoft JhengHei"; }
.microsoft_new_tai_lue { font-family: "Microsoft New Tai Lue"; }
.microsoft_phagspa { font-family: "Microsoft PhagsPa"; }
.microsoft_sans_serif { font-family: "Microsoft Sans Serif"; }
.microsoft_tai_le { font-family: "Microsoft Tai Le"; }
.microsoft_uighur { font-family: "Microsoft Uighur"; }
.microsoft_yahei_light { font-family: "Microsoft YaHei Light"; }
.microsoft_yahei_ui_light { font-family: "Microsoft YaHei UI Light"; }
.microsoft_yahei_ui { font-family: "Microsoft YaHei UI"; }
.microsoft_yahei { font-family: "Microsoft YaHei"; }
.microsoft_yi_baiti { font-family: "Microsoft Yi Baiti"; }
.mingliu-extb { font-family: "MingLiU-ExtB"; }
.mingliu_hkscs-extb { font-family: "MingLiU_HKSCS-ExtB"; }
.mistral { font-family: "Mistral"; }
.modern_no._20 { font-family: "Modern No. 20"; }
.mondela { font-family: "Mondela"; }
.mongolian_baiti { font-family: "Mongolian Baiti"; }
.monotype_corsiva { font-family: "Monotype Corsiva"; }
.moonshiner_round_oblique { font-family: "Moonshiner Round Oblique"; }
.moonshiner_round { font-family: "Moonshiner Round"; }
.moonshiner_sharp_oblique { font-family: "Moonshiner Sharp Oblique"; }
.moonshiner_sharp { font-family: "Moonshiner Sharp"; }
.ms_gothic { font-family: "MS Gothic"; }
.ms_outlook { font-family: "MS Outlook"; }
.ms_pgothic { font-family: "MS PGothic"; }
.ms_reference_sans_serif { font-family: "MS Reference Sans Serif"; }
.ms_reference_specialty { font-family: "MS Reference Specialty"; }
.ms_ui_gothic { font-family: "MS UI Gothic"; }
.mt_extra { font-family: "MT Extra"; }
.mv_boli { font-family: "MV Boli"; }
.myanmar_text { font-family: "Myanmar Text"; }
.niagara_engraved { font-family: "Niagara Engraved"; }
.niagara_solid { font-family: "Niagara Solid"; }
.niqueo_bold { font-family: "Niqueo Bold"; }
.nirmala_ui_semilight { font-family: "Nirmala UI Semilight"; }
.nirmala_ui { font-family: "Nirmala UI"; }
.nsimsun { font-family: "NSimSun"; }
.ocr_a_extended { font-family: "OCR A Extended"; }
.old_english_text_mt { font-family: "Old English Text MT"; }
.onetwopunch_bb { font-family: "OneTwoPunch BB"; }
.onyx { font-family: "Onyx"; }
.palace_script_mt { font-family: "Palace Script MT"; }
.palatino_linotype { font-family: "Palatino Linotype"; }
.papyrus { font-family: "Papyrus"; }
.parchment { font-family: "Parchment"; }
.perpetua { font-family: "Perpetua"; }
.perpetua_titling_mt { font-family: "Perpetua Titling MT"; }
.playbill { font-family: "Playbill"; }
.pmingliu-extb { font-family: "PMingLiU-ExtB"; }
.polyhedral_lc_bb { font-family: "Polyhedral LC BB"; }
.polyhedral_uc_bb { font-family: "Polyhedral UC BB"; }
.poor_richard { font-family: "Poor Richard"; }
.pristina { font-family: "Pristina"; }
.quavo { font-family: "Quavo"; }
.rage_italic { font-family: "Rage Italic"; }
.rallisha_demo { font-family: "Rallisha Demo"; }
.raventame { font-family: "Raventame"; }
.ravie { font-family: "Ravie"; }
.ringlovely { font-family: "Ringlovely"; }
.roboto { font-family: "Roboto"; }
.roboto_black { font-family: "Roboto Black"; }
.roboto_light { font-family: "Roboto Light"; }
.roboto_medium { font-family: "Roboto Medium"; }
.roboto_thin { font-family: "Roboto Thin"; }
.rockwell { font-family: "Rockwell"; }
.rockwell_condensed { font-family: "Rockwell Condensed"; }
.rockwell_extra_bold { font-family: "Rockwell Extra Bold"; }
.salt { font-family: "Salt"; }
.salted_mocha { font-family: "Salted Mocha"; }
.scaly_sans { font-family: "Scaly Sans"; }
.script_mt_bold { font-family: "Script MT Bold"; }
.secret_diary { font-family: "Secret Diary"; }
.segoe_mdl2_assets { font-family: "Segoe MDL2 Assets"; }
.segoe_print { font-family: "Segoe Print"; }
.segoe_script { font-family: "Segoe Script"; }
.segoe_ui_black { font-family: "Segoe UI Black"; }
.segoe_ui_emoji { font-family: "Segoe UI Emoji"; }
.segoe_ui_historic { font-family: "Segoe UI Historic"; }
.segoe_ui_light { font-family: "Segoe UI Light"; }
.segoe_ui_semibold { font-family: "Segoe UI Semibold"; }
.segoe_ui_semilight { font-family: "Segoe UI Semilight"; }
.segoe_ui_symbol { font-family: "Segoe UI Symbol"; }
.segoe_ui { font-family: "Segoe UI"; }
.senopathi_free_personal_use { font-family: "Senopathi Free Personal Use"; }
.shamery_regular { font-family: "Shamery Regular"; }
.showcard_gothic { font-family: "Showcard Gothic"; }
.showtime { font-family: "Showtime"; }
.signatie { font-family: "Signatie"; }
.simsun { font-family: "SimSun"; }
.simsun-extb { font-family: "SimSun-ExtB"; }
.sitka_banner { font-family: "Sitka Banner"; }
.sitka_display { font-family: "Sitka Display"; }
.sitka_heading { font-family: "Sitka Heading"; }
.sitka_small { font-family: "Sitka Small"; }
.sitka_subheading { font-family: "Sitka Subheading"; }
.sitka_text { font-family: "Sitka Text"; }
.snap_itc { font-family: "Snap ITC"; }
.stencil { font-family: "Stencil"; }
.straightjacket_bb { font-family: "StraightJacket BB"; }
.summerfaith { font-family: "SummerFaith"; }
.sylfaen { font-family: "Sylfaen"; }
.symbol { font-family: "Symbol"; }
.tahoma { font-family: "Tahoma"; }
.teamviewer13 { font-family: "TeamViewer13"; }
.teamviewer15 { font-family: "TeamViewer15"; }
.tempus_sans_itc { font-family: "Tempus Sans ITC"; }
.the_blacklist { font-family: "The Blacklist"; }
.the_girl_next_door { font-family: "The Girl Next Door"; }
.times_new_roman { font-family: "Times New Roman"; }
.traverse { font-family: "TRAVERSE"; }
.trebuchet_ms { font-family: "Trebuchet MS"; }
.tropikal { font-family: "Tropikal"; }
.tw_cen_mt_condensed_extra_bold { font-family: "Tw Cen MT Condensed Extra Bold"; }
.tw_cen_mt_condensed { font-family: "Tw Cen MT Condensed"; }
.tw_cen_mt { font-family: "Tw Cen MT"; }
.verdana { font-family: "Verdana"; }
.viner_hand_itc { font-family: "Viner Hand ITC"; }
.vivaldi { font-family: "Vivaldi"; }
.vladimir_script { font-family: "Vladimir Script"; }
.we_come_in_peace_bb { font-family: "We Come In Peace BB"; }
.webdings { font-family: "Webdings"; }
.wide_latin { font-family: "Wide Latin"; }
.windlass { font-family: "Windlass"; }
.wingdings { font-family: "Wingdings"; }
.wingdings_2 { font-family: "Wingdings 2"; }
.wingdings_3 { font-family: "Wingdings 3"; }
.winston_andrews { font-family: "Winston Andrews"; }
.yankee_ghosts_bb { font-family: "Yankee Ghosts BB"; }
.yu_gothic_light { font-family: "Yu Gothic Light"; }
.yu_gothic_medium { font-family: "Yu Gothic Medium"; }
.yu_gothic_ui_light { font-family: "Yu Gothic UI Light"; }
.yu_gothic_ui_semibold { font-family: "Yu Gothic UI Semibold"; }
.yu_gothic_ui_semilight { font-family: "Yu Gothic UI Semilight"; }
.yu_gothic_ui { font-family: "Yu Gothic UI"; }
.yu_gothic { font-family: "Yu Gothic"; }
.zhi_mang_xing { font-family: "Zhi Mang Xing"; }
.zwadobef { font-family: "ZWAdobeF"; }
