.behind_blue_eyes { font-family: "Behind Blue Eyes"; }
.better_land { font-family: "Better Land"; }
.comic_sans_ms { font-family: "Comic Sans MS"; }
.freestyle_script { font-family: "Freestyle Script"; }
.ink_free { font-family: "Ink Free"; }
.lucida_handwriting { font-family: "Lucida Handwriting"; }
.mv_boli { font-family: "MV Boli"; }
.niqueo_bold { font-family: "Niqueo Bold"; }
.polyhedral_lc_bb { font-family: "Polyhedral LC BB"; }
.polyhedral_uc_bb { font-family: "Polyhedral UC BB"; }
.secret_diary { font-family: "Secret Diary"; }
.segoe_print { font-family: "Segoe Print"; }
.segoe_script { font-family: "Segoe Script"; }
.the_girl_next_door { font-family: "The Girl Next Door"; }
.battnise { font-family: "Battnise"; }
.chiller { font-family: "Chiller"; }
.dovahkiin { font-family: "Dovahkiin"; }
.draconic { font-family: "Draconic"; }
.dragonscript { font-family: "Dragonscript"; }
.hpphumblescratch { font-family: "HPPHumblescratch"; }
.inspired { font-family: "Inspired"; }
.kallem { font-family: "Kallem"; }
.kristi { font-family: "Kristi"; }
.pristina { font-family: "Pristina"; }
.quavo { font-family: "Quavo"; }
.salt { font-family: "Salt"; }
.summerfaith { font-family: "SummerFaith"; }
.handayani { font-family: "handayani"; }
