body {
    width: 100%;
    height: 100%;
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.wrapper {
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
}

.nested {
    position: relative;
    display: grid;
    grid-template-rows: 16fr 2fr;
}

#bg-container,
#fg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow: scroll;
    max-height: 75vh;
}

#result-container {
    /* height: 100%; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25.5vw;
}

#result-fg-0,
#result-fg-1,
#result-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

#rnd-background,
#rnd-background-clr,
#rnd-emblem,
#rnd-emblem-clr,
#shadow-editor {
    display: flex!important;
    flex-direction: row;
    justify-content: center;
}

#result-bg {
    z-index: 1;
}

#result-fg-0 {
    z-index: 2;
}

#result-fg-1 {
    z-index: 3;
}

#offscreen-div {
    position: relative;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
    background-color: transparent;
}

#editor {
    position: absolute;
    left: 1rem;
    top: 0;
    z-index: 5;
}

#background {
    position: relative;
}

#editor-div {
    position: absolute;
    top: auto;
    left: 30px;
    width: 500px;
    display: none;
    background-color: #212529;
    border: 1px solid black;
    padding: 10px;
    z-index: 5;
}


/* #result-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#result-fg,
#result-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
} */

.btn-square {
    margin: 0px -1rem 0px -1rem;
}

.selected {
    border: 2px solid #000;
}

.bg-item,
.fg-item {
    width: 128px;
    height: 128px;
    font-size: 120px;
    position: relative;
}

.fg-item span {
    top: 0px;
    left: 0px;
    position: absolute;
}

button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
}

button.btn-settings:active {
    color: white;
}

.modal {
    overflow: hidden;
}

.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}

.modal-header {
    height: 30px;
    padding: 20px;
    background-color: #18456b;
    color: white;
    cursor: move;
}

.modal-title {
    font-size: 16px;
}

.modal-header .close {
    margin-top: -10px;
    color: #fff;
}

.modal-body {
    color: #888;
    padding: 5px 35px 20px;
}


/* 
.modal-footer {
    background-color: #888;
} */

.modal-body h3 {
    text-align: center;
}

.modal-body p {
    padding-top: 10px;
    font-size: 1.1em;
}

.modal-backdrop {
    background-color: transparent;
}

.modal label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    text-align: center;
}