body {
    width: 100%;
    height: 100%;
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.wrapper {
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
}

.nested {
    display: grid;
    grid-template-rows: 16fr 2fr;
}

#bg-container,
#fg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow: scroll;
    max-height: 75vh;
}

#result-container {
    /* height: 100%; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
}

#result-fg-0,
#result-fg-1,
#result-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    width: auto;
    font-size: 510px;
}

#rnd-background,
#rnd-background-clr,
#rnd-emblem,
#rnd-emblem-clr {
    display: flex!important;
    flex-direction: row;
    justify-content: center;
}

#result-bg {
    z-index: 1;
}

#result-fg-0 {
    z-index: 2;
}

#result-fg-1 {
    z-index: 3;
}


/* #result-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#result-fg,
#result-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
} */

.selected {
    border: 2px solid #000;
}

.bg-item,
.fg-item {
    width: 128px;
    height: 128px;
    font-size: 120px;
    position: relative;
}

.fg-item span {
    top: 0px;
    left: 0px;
    position: absolute;
}