body {
    width: 60%;
    margin: auto;
    padding: 5em;
}

::-webkit-scrollbar {
    width: 1em !important;
}

::-webkit-scrollbar-track {
    background-color: #202324 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d !important;
}

::-webkit-resizer {
    background-color: #454a4d;
    -webkit-box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

#text-contents {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

p {
    margin: 0;
}

#text-box {
    height: auto;
    min-height: 4em;
    padding: 1.5em;
    color: #ebe9e7;
}

.styling-box button {
    padding: 5px;
}

.size-control {
    width: 60px;
}

.small-group {
    max-width: 9em;
}

.font-group,
.color-group {
    display: inline-table;
}

.pre-font-control,
.pre-color-control {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1.3em;
}

.post-font-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 1.3em;
}

.aria-btn {
    font-size: 1.3em;
}

.font-control {
    margin: 0;
    display: table-cell;
}

.input-font-control {
    border-radius: 0px !important;
    background-color: #181a1b;
    cursor: auto;
    width: 5em;
}

.input-color-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #181a1b;
    cursor: auto;
    width: 7.5em;
}

input[type=number]::-webkit-inner-spin-button {
    margin: 0;
    display: none;
}